.gradient-text {
  background: linear-gradient(to right, #00FF00, #00696F);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

html {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
  background-color: #000000;
}

h3 {
  display: block;
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: .5rem;
  line-height: 1.2;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  height: 24px;
  width: max-content;
}